.row2{
	background-color:#7FFFD4;
}
.row4{
	background-color:#7FFFD4;
}
.row6{
	background-color:#7FFFD4;
}
.row8{
	background-color:#7FFFD4;
}
.row10{
	background-color:#7FFFD4;
}
.row12{
	background-color:#7FFFD4;
}
.row14{
	background-color:#7FFFD4;
}
.row16{
	background-color:#7FFFD4;
}
.row18{
	background-color:#7FFFD4;
}
.row20{
	background-color:#7FFFD4;
}

.row1_intestazione{
	background-color:#DCDCDC;
}

.row3{
	background-color:#E0FFFF;
}
.row5{
	background-color:#E0FFFF;
}
.row7{
	background-color:#E0FFFF;
}
.row9{
	background-color:#E0FFFF;
}
.row11{
	background-color:#E0FFFF;
}
.row13{
	background-color:#E0FFFF;
}
.row15{
	background-color:#E0FFFF;
}
.row17{
	background-color:#E0FFFF;
}
.row19{
	background-color:#E0FFFF;
}
.row21{
	background-color:#E0FFFF;
}
